[[source]]
verify_ssl = true
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
name = "pypi"

[packages]

supervisor = "*"
redis = "*"
superset = "*"


[requires]
python_version = "2.7"

[dev-packages]